<h2>posts#new</h2>
<hr>
<%= form_for(@post) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div>
    <%= f.submit '제출하기' %>
  </div>
<% end %>
